body {
    background-color: #eee !important;
    font-family: Verdana;
    font-size: 12px;
}

.logo {
    font-size: 25px;
}

.border-radius-none {
    border-radius: 0px;
}

.nav-border-right {
    border-right-style: outset;
    border-color: silver;
    border-width: 2px;
    padding: 0px 1em 0px 1em;
}

.nav-border-left {
    border-left-style: outset;
    border-color: silver;
    border-width: 2px;
    padding: 0px 0px 0px 1em;
}

.nav-li-margin-xs {
    margin: 0.1em;
}

.nav-li-margin-sm {
    margin: 0.2em;
}

.margin-none {
    margin: 0px 0px 0px 0px !important;
}

.padding-none {
    padding: 0px 0px 0px 0px !important;
}

.padding-top-none {
    padding-top: 0px !important;
}

.padding-bottom-none {
    padding-bottom: 0px !important;
}

.btn-default {
    font-family: Verdana !important;
    font-size: 12px !important;
    background-color: #222 !important;
    color: #999 !important;
    border-radius: 0px !important;
    border: none;
}

.navbar-default {
    background: linear-gradient(#4d4d4d, #2f2f2f) !important;
}

    .navbar-default .navbar-nav > li > a {
        color: #999 !important;
    }

    .navbar-default .navbar-nav > li {
        background-color: #2f2f2f !important;
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        border-color: black;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: white !important; /*#555555;*/
        background-color: #2f2f2f !important;
    }


/* Custom Colors*/
.red {
    color: red;
}

.white {
    color: white;
}

/* Custom Backgrounds*/
.blue-bg {
    background-color: #4863A0 !important;
}

.transparent-bg {
    background-color: transparent !important;
}

.custom-height {
    height: 4em !important;
}

.black-border {
    border-color: black;
}

.pointer {
    cursor: pointer;
}
