<table id="souj" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <td><a href="#" data-ng-click="sortNow('name')">{{billHeader.name}}</a></td>
            <td><a href="#" data-ng-click="sortNow('discount')">{{billHeader.discount}}</a></td>
            <td><a href="#" data-ng-click="sortNow('quantity')">{{billHeader.quantity}}</a></td>
            <td><a href="#" data-ng-click="sortNow('price')">{{billHeader.price}}</a></td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in bill |orderBy:sort.column:sort.descending" data-ng-show="{{item.show}}">
            <td>{{item.name}}</td>
            <td>{{item.discount}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
        </tr>
    </tbody>
</table>
