<table class="table table-hover table-bordered">
    <tbody>
        <tr data-ng-show="{{numpadOptions.show}}">
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.one }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.two }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.three }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.quantity }} </h4>
            </td>
        </tr>
        <tr data-ng-show="{{numpadOptions.show}}">
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.four }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.five }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.six }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.discount }} </h4>
            </td>
        </tr>
        <tr data-ng-show="{{numpadOptions.show}}">
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.seven }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.eight }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.nine }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.price }} </h4>
            </td>
        </tr>
        <tr data-ng-show="{{numpadOptions.show}}">
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.operations }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.zero }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.comma }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.clear }} </h4>
            </td>
        </tr>
        <tr data-ng-show="{{numpadOptions.show}}">
            <td colspan="2" class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.delete }} </h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4 class="{{ numpadOptions.backspace }}"></h4>
            </td>
            <td class="{{numpadOptions.class}}">
                <h4>{{ numpadOptions.note }} </h4>
            </td>
        </tr>
    </tbody>
</table>
